*~
.#*
.classpath
.gradle/
.gradletasknamecache
.idea/
.pid.lock
.project
.settings/
.vscode/
\#*
build/
classes
sdkman-cli.iml
sdkman.iml
sdkman.ipr
sdkman.iws
mongo.json
out/
sdkman-cli.iml
target/
bin/test